body {
    font-family: 'Cabin', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0 30px;
    color: white;
    height: 100vh;
    display: grid;
    grid-template: min-content 1fr / 3fr 1fr;
}

h1 {
    grid-area: 1 / 1 / 1 / -1;
    place-self: center;
}

form {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
}

form input[type=checkbox] {
    justify-self: start;
}

form button {
    grid-column: 1 / -1;
    border-radius: 3px;
    padding: 10px 0;
    border: none;
}

.books {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: minmax(min-content, 200px);
}

.book {
    background-color: white;
    color: black;
}